<h3><%= movie.title %></h3>
<h4>Director: <%= movie.director.name %></h4> 
<h4>Release year: <%= movie.year %> </h4>
<h4>Likes: <%= movie.facebook_likes %> </h4>
<h4>keywords: <%= movie.plot_keywords %> </h4>

<a href="/movies"> Back to movie index </a>